
Troshko.xcodeproj/project.xcworkspace/xcuserdata/farishuric.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
.DS_Store
*.xcuserstate
.DS_Store
.DS_Store
Pods/Pods.xcodeproj/xcuserdata/farishuric.xcuserdatad/xcschemes/xcschememanagement.plist
Troshko.xcodeproj/xcuserdata/farishuric.xcuserdatad/xcschemes/xcschememanagement.plist
